# Git
.git
.gitignore
.gitattributes

# IDE
.vs
.vscode
.idea
*.user
*.suo

# Build results
**/bin/
**/obj/
**/out/
**/TestResults/

# NuGet
*.nupkg
*.snupkg
packages/

# Logs
*.log
logs/

# OS files
.DS_Store
Thumbs.db

# Docker files
Dockerfile*
docker-compose*
.dockerignore

# Others
*.md
LICENSE
